<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8" />
        <title>Hello world!</title>
    </head>
    <body>
        <h1>User List</h1>
        <ul>
            <li>Name: Amar</li>
            <li>Age: </li>
            <br>
        </ul>
    </body>
</html> 

#{data.description}